<div class="filters-content">
  <div class="row grid">
    
    {{log @list}}
    
      {{#each @list as |item| }}

        <div class="col-lg-4 col-md-4 all des">
          <div class="product-item">
            <a href="#"><img src="{{item.image}}" alt="{{item.image_alt}}"></a>
            <div class="down-content">
              <a href="#"><h4>{{item.name}}</h4></a>
              <h6>$ {{item.formated_value}}</h6>
              <p>{{item.description}}</p>
              
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              
              <span>Reviews ({{ item.reviews }})</span>
            </div>
          </div>
        </div>
        
      {{/each}}

  </div>
</div>